<ion-view style="" class=" " id="page13" title="Ask the Question">
    <ion-content class="has-header" padding="true">
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/6ju2lQ7TV6UBHzeMdfWe_1.png" height="auto" width="100%">
        </div>
        <form class="list " id="askTheQuestion-form10">
            <div style="width: 300px; height: 15px;" class="spacer"></div>
            <label id="askTheQuestion-textarea1" class="item item-input ">
                <span class="input-label"></span><textarea placeholder="Type your question here"></textarea>
            </label>
            <div style="width: 300px; height: 15px;" class="spacer"></div>
            <label id="askTheQuestion-select1" class="item item-select ">
                <span class="input-label"></span>
                <select>
                    <option>General</option>
                    <option>Recipes</option>
                    <option>House</option>
                    <option>Health</option>
                    <option>Finances</option>
                    <option>People</option>
                    <option></option>
                </select>
            </label>
            <button class=" button button-assertive  button-block " id="askTheQuestion-button13">Ask the question</button>
        </form>
    </ion-content>
</ion-view>