<ion-view style="" class=" " id="page19" title="Blog">
    <ion-content class="has-header" padding="true">
        <div class=" button-bar " id="blog-button-bar8"></div>
        <ion-list class=" " id="blog-list15">
            <ion-item style="" ui-sref="tabsController.recipes" id="blog-list-item80" class="item-thumbnail-left item-icon-right assertive  ">
                <img src="img/yaaNiwCWRkaFGvVqTWXi_recipes2.jpg">
                <h2assertive>Recipes
                    <p style="white-space:normal;">It is a long established fact that a reader will be...</p>
                    <i class="icon ion-android-restaurant"></i>
                </h2assertive>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.finances" id="blog-list-item81" class="item-thumbnail-left item-icon-right assertive  ">
                <img src="img/HSoxjJqSpOFz8mdFppbg_finances2.jpg">
                <h2assertive>Finances
                    <p style="white-space:normal;">It is a long established fact that a reader will be...</p>
                    <i class="icon ion-social-usd"></i>
                </h2assertive>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.timeManagment" id="blog-list-item82" class="item-thumbnail-left item-icon-right assertive  ">
                <img src="img/TFMiYL0ZQMKAWsFBAZ2V_time2.jpg">
                <h2assertive>Time Managment
                    <p style="white-space:normal;">It is a long established fact that a reader will be...</p>
                    <i class="icon ion-calendar"></i>
                </h2assertive>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.health" id="blog-list-item83" class="item-thumbnail-left item-icon-right assertive  ">
                <img src="img/QS1Jg1LQROmpgGRVO3bG_health2.jpg">
                <h2assertive>Health
                    <p style="white-space:normal;">It is a long established fact that a reader will be...</p>
                    <i class="icon ion-ios-pulse-strong"></i>
                </h2assertive>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.house" id="blog-list-item84" class="item-thumbnail-left item-icon-right assertive  ">
                <img src="img/2VNVqgURpmzpfZjzpl3q_house2.jpg">
                <h2assertive>House
                    <p style="white-space:normal;">It is a long established fact that a reader will be...</p>
                    <i class="icon ion-android-home"></i>
                </h2assertive>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.people" id="blog-list-item85" class="item-thumbnail-left item-icon-right assertive  ">
                <img src="img/Jo2xaZUmRNmZ7nghyOIb_people2.jpg">
                <h2assertive>People
                    <p style="white-space:normal;">It is a long established fact that a reader will be...</p>
                    <i class="icon ion-heart"></i>
                </h2assertive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>