<ion-view style="" class=" " id="page17" title="Home Alternative Version">
    <ion-content class="has-header" padding="true">
        <div class=" button-bar " id="homeAlternativeVersion-button-bar5">
            <a class=" button button-dark  button-block " id="homeAlternativeVersion-button16" ui-sref="tabsController.login_tab3">Login</a>
            <a class=" button button-dark  button-block " id="homeAlternativeVersion-button17" ui-sref="tabsController.signup">Register</a>
        </div>
        <div class="">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/Xt2ZTvsgSjHr2HhHCeBt_logo.png" height="auto" width="auto">
        </div>
        <div style="width: 300px; height: 29px;" class="spacer"></div>
        <p class=" " style="color:#000000;text-align:center;" id="homeAlternativeVersion-markdown6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet enim ut dignissim interdum. In viverra, quam et semper ultrices, nunc metus varius augue, sed dictum lacus mi nec elit.</p>
        <div class=" button-bar " id="homeAlternativeVersion-button-bar6"></div>
        <div style="width: 300px; height: 32px;" class="spacer"></div>
        <div id="homeAlternativeVersion-card26" class="list card ">
            <div class=" item item-image">
                <a ui-sref="recipes2" style="display:block;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="img/yPFPOYtGT3i5dBqKyNvg_recipes.png" height="auto" width="100%">
                </a>
            </div>
            <ion-item style="" ui-sref="recipes2" id="homeAlternativeVersion-list-item61" class="item-icon-left dark  ">
                <i class="icon ion-android-restaurant"></i>Recipes</ion-item>
        </div>
        <div id="homeAlternativeVersion-card27" class="list card ">
            <div class=" item item-image">
                <a ui-sref="recipes2" style="display:block;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="img/zEYiTAOiR7C7HCJMtBFK_finances.jpg" height="auto" width="100%">
                </a>
            </div>
            <ion-item style="" ui-sref="recipes2" id="homeAlternativeVersion-list-item70" class="item-icon-left dark  ">
                <i class="icon ion-social-usd"></i>Finances</ion-item>
        </div>
        <div id="homeAlternativeVersion-card28" class="list card ">
            <div class=" item item-image">
                <a ui-sref="recipes2" style="display:block;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="img/INYb7s5PTym28jOUPHTw_time.jpg" height="auto" width="100%">
                </a>
            </div>
            <ion-item style="" ui-sref="recipes2" id="homeAlternativeVersion-list-item71" class="item-icon-left dark  ">
                <i class="icon ion-calendar"></i>Time Managment</ion-item>
        </div>
        <div id="homeAlternativeVersion-card29" class="list card ">
            <div class=" item item-image">
                <a ui-sref="recipes2" style="display:block;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="img/PX8pbVQASg2bYwHhOtiK_health.jpg" height="auto" width="100%">
                </a>
            </div>
            <ion-item style="" ui-sref="recipes2" id="homeAlternativeVersion-list-item72" class="item-icon-left dark  ">
                <i class="icon ion-ios-pulse-strong"></i>Health</ion-item>
        </div>
        <div id="homeAlternativeVersion-card210" class="list card ">
            <div class=" item item-image">
                <a ui-sref="recipes2" style="display:block;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="img/xN1WMAKITrKWUROKQRhW_house.jpg" height="auto" width="100%">
                </a>
            </div>
            <ion-item style="" ui-sref="recipes2" id="homeAlternativeVersion-list-item73" class="item-icon-left dark  ">
                <i class="icon ion-android-home"></i>House</ion-item>
        </div>
        <div id="homeAlternativeVersion-card211" class="list card ">
            <div class=" item item-image">
                <a ui-sref="recipes2" style="display:block;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="img/77v9P10USISc5jLMZKIt_people.jpg" height="auto" width="100%">
                </a>
            </div>
            <ion-item style="" ui-sref="recipes2" id="homeAlternativeVersion-list-item74" class="item-icon-left dark  ">
                <i class="icon ion-heart"></i>People</ion-item>
        </div>
        <div style="width: 300px; height: 30px;" class="spacer"></div>
        <div id="homeAlternativeVersion-card25" class="list card ">
            <div class=" item item-image">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/yWbASN9MQ5asUcNdOeeo_newsletter2.jpg" height="auto" width="100%">
            </div>
            <h4 class=" " style="color: rgb(92, 92, 92); font-weight: 600; text-align: center;" id="homeAlternativeVersion-heading2">Subscribe Our Newsletter</h4>
            <form class="list " id="homeAlternativeVersion-form8">
                <label id="homeAlternativeVersion-input7" class="item item-input ">
                    <span class="input-label">E-mail:</span>
                    <input placeholder="Insert your e-mail" type="text">
                </label>
                <button class=" button button-dark  button-block " id="homeAlternativeVersion-button18">Subscribe Now!</button>
            </form>
        </div>
    </ion-content>
</ion-view>