<ion-view style="" class=" " id="page14" title="Map">
    <ion-content class="has-header" padding="true">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <form class="list " id="map-form18">
            <div style="width: 285px; height: 16px;" class="spacer"></div>
            <p class=" " style="color:#000000;" id="map-markdown3">Address</p>
            <a class=" button button-positive  button-block " id="map-button21" ui-sref="directions">Directions</a>
        </form>
        <form class="list " id="map-form19">
            <p class=" " style="color:#000000;" id="map-markdown4">Address</p>
            <a class=" button button-positive  button-block " id="map-button22" ui-sref="directions">Directions</a>
        </form>
    </ion-content>
</ion-view>