<ion-view style="" class=" " id="page10" title="Recipes">
    <ion-content class="has-header" padding="true">
        <div id="recipes2-card212" class="list card ">
            <ion-item style="" ui-sref="tabsController.spinachEnchiladas_tab1/" id="recipes2-list-item75" class="item-avatar  ">
                <h2>Spinach Enchiladas</h2>
                <p style="white-space:normal;">Tags: Spinach, Enchiladas, Spinach Enchiladas, vegetarian</p>
            </ion-item>
            <div class=" item item-image">
                <a ui-sref="tabsController.spinachEnchiladas_tab1" style="display:block;">
                    <img style="display: block; margin-left: auto; margin-right: auto;" src="img/3RjYUJfvTWiRPkkhFcV9_454897.jpg" height="auto" width="100%">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>